
# param variables 
src_lang={slang}
tgt_lang={tlang}
systemtype='pb'
dataset='news_2015'

## factored 
#data_dir=/home/development/anoop/experiments/unsupervised_transliterator/data/nonparallel/factored/{slang}-{tlang}
#ref_xml="$data_dir/test.xml"
#workspace_dir=/home/development/anoop/experiments/unsupervised_transliterator/experiments/parallel_news_2015_indic/factored/results/f_lm_{prop_num}/{slang}-{tlang}

## phrase-based
data_dir=/home/development/anoop/experiments/unsupervised_transliterator/data/nonparallel/pb/{slang}-{tlang}
ref_xml="$data_dir/test.xml"
workspace_dir=/home/development/anoop/experiments/unsupervised_transliterator/experiments/parallel_news_2015_indic/pb/{slang}-{tlang}

