
# param variables 
src_lang='En'
tgt_lang='Hi'
systemtype='pb'
dataset='news_2015'

data_dir="/home/development/anoop/experiments/unsupervised_transliterator/src/transliterator/test/sample_corpus"
ref_xml="$data_dir/test.xml"
workspace_dir="/home/development/anoop/experiments/unsupervised_transliterator/src/transliterator/test/sample_workspace"
lm_fname="$data_dir/sample.2g.Hi.lm"
config_fname="$data_dir/supervised.yaml"

#data_dir="/home/development/anoop/experiments/unsupervised_transliterator/data/news_2015/pb/$src_lang-$tgt_lang"
#ref_xml="$data_dir/$src_lang-$tgt_lang/test.xml"
#workspace_dir="/home/development/anoop/experiments/unsupervised_transliterator/experiments/news_2015/pb/$src_lang-$tgt_lang"
#lm_fname="/home/development/anoop/experiments/unsupervised_transliterator/data/lm/news_2015/pb/2g.$tgt_lang.lm"
#config_fname=""

