
# param variables 
src_lang='bn'
tgt_lang='hi'
systemtype='pb'
dataset='news_2015'

data_dir="/home/development/anoop/experiments/unsupervised_transliterator/src/transliterator/test/sample_corpus_2"
ref_xml="$data_dir/test.xml"
workspace_dir="/home/development/anoop/experiments/unsupervised_transliterator/src/transliterator/test/sample_workspace_2"
lm_fname="$data_dir/sample.5g.hi.lm"
config_fname="$data_dir/supervised.yaml"

decoder_params_fname="$data_dir/decoder.yaml"

