
# param variables 
src_lang={slang}
tgt_lang={tlang}
bridge_lang={blang}
systemtype='pb'
dataset='news_2015'

## phrase-based
data_dir=/home/development/anoop/experiments/unsupervised_transliterator/data/nonparallel/pb/{slang}-{tlang}
ref_xml="$data_dir/test.xml"
base_dir=/home/development/anoop/experiments/unsupervised_transliterator/experiments/bridge/pb/{slang}-{tlang}

